@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-oswald: var(--font-oswald);
  --font-figtree: var(--font-figtree);
  --font-jakarta-sans: var(--font-jakarta-sans);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --primary-color: rgba(115, 251, 253, 1);
  --primary-text: rgb(255, 255, 255, 1);
  --background: rgba(17, 24, 39, 1);
  --secondary-bg: rgba(0, 255, 255, 1);
  --placeholder-col: rgba(77, 77, 77, 1);
  --community-col: rgba(153, 255, 255, 1);
  --border-col: rgba(49, 64, 89, 1);
  --gray-100: rgba(178, 178, 178, 1);
  --dark-bg: rgba(30, 41, 59, 1);
  --page-bg: rgba(73, 88, 112, 1);
  --input: rgba(255, 255, 255, 0.32);

  --radius: 0.625rem;
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-oswald);
    @apply bg-background text-foreground;
  }

  main {
    min-height: 100vh;
  }

  label {
    @apply text-(--primary-text);
  }

  .nav-links {
    font-family: var(--font-jakarta-sans);
    @apply text-(--primary-text) text-lg hidden lg:block font-medium;
  }

  .mob-links {
    @apply text-(--primary-text) flex items-center justify-between px-2.5;
  }

  .figtree {
    font-family: var(--font-figtree);
  }

  .jakarta {
    font-family: var(--font-jakarta-sans);
  }

  .input-shadow {
    box-shadow: 0px 8px 24px 2px rgba(164, 164, 164, 0.08);
  }

  .colored-text {
    @apply italic text-(--community-col);
  }

  .lufga {
    font-family: var(--font-lufga);
  }

  .pagination {
    font-size: 15.1px;
    @apply text-(--primary-text);
  }

  .pagination-active {
    background: var(--primary-color);
    color: rgba(37, 43, 55, 1);
    @apply rounded-none;
  }

  .pBorders {
    filter: drop-shadow(0px 1.07857px 2.15714px rgba(10, 13, 18, 0.05));
    backdrop-filter: blur(6px);
  }

  .pItems {
    border-right: 1px solid rgb(73, 88, 112);
  }

  .hideScroll::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  .search-shadow {
    box-shadow: 2px 16px 66.7px 24px rgba(0, 0, 0, 0.25);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

@media (min-width: 320px) and (max-width: 374px) {
  .small-screenSearch {
    @apply w-full;
  }

  .small-screenRecent {
    @apply w-full;
  }

  .small-card {
    @apply w-full;
  }

  .events-ctn {
    @apply w-full gap-5;
  }

  .eventsDescription {
    @apply w-full;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .eventCard {
    @apply flex-col w-[200px] pb-[10px] pr-0;
  }

  .mdCard {
    @apply flex-row w-full justify-between gap-[10px];
  }

  .mdCardCtn {
    @apply w-[200px];
  }

  .events-ctnImg {
    @apply w-[200px] mr-0;
  }

  .cardImg {
    @apply w-[200px] h-auto rounded-none rounded-t-[20px];
  }

  .descriptionBox {
    @apply mt-2 mb-2 pl-2 pr-2;
  }

  .mdDesc {
    @apply h-7;
  }

  .mediumCenter {
    @apply text-center;
  }
}

/* @media (min-width: 500px) and (max-width: 767px) {
  .mdCard {
    @apply gap-[0.1%];
  }
} */
